
<div class='gamePlayContainer'>
  <div class="formatHolder">
    <div class="here"></div>
    <div class='roomContainer'>
      <img src="/images/Logo/Cabin_Conundrum_Logo.png" alt="Logo" id="gameSpace" user_id="{{user_id}}" class=""></img>
    </div>
    <aside class='inventoryContainer'>
      <img src="/images/Sprites/Inventory.png" alt="Inventory Image" id="inventoryImage"></img>
      <img src="/images/Sprites/Inventory_Title.png" alt="Inventory Title" id="inventoryTitle"></img>
    </aside>
    <div class="here"></div>
  </div>
</div>

      {{!-- <script src='anime.min.js'></script> --}}
      <script src='/js/gameplay.js'></script>