<div class='gamePlayContainer container-fluid h-100'>
  <div class="row h-75">
    <div class="col-2 p-0 bg-secondary" ></div>
    <div class='roomContainer col-6 bg-secondary p-0 d-flex'>
      <img src="/images/Logo/Cabin_Conundrum_Logo.png" alt="Logo" id="gameSpace" class="p-0"></img>
    </div>
    <aside class='inventoryContainer col-2 p-0'>
      <img src="/images/Sprites/Inventory_Title.png" alt="Inventory Title" id="inventoryTitle" class="p-0"></img>
    </aside>
    <div class="col-2 p-0 bg-secondary"></div>
  </div>
</div>
      {{!-- <script src='anime.min.js'></script> --}}
      <script src='/js/gameplay.js'></script>