<div class='welcome-container'>
  <div class='welcome-btns'>
    <a href='/home'>Play Game</a>
    <a href='/highscores'>Highscores</a>
  </div>
  <svg height='210' width='400'>
    <path
      d='M150 0 L75 200 L225 200 Z'
      fill='none'
      stroke='#614920'
      stroke-width='10'
    />
  </svg>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem similique
    sapiente laudantium iste blanditiis, dignissimos ullam? Veritatis deserunt
    quasi, dolorem, fugiat illum necessitatibus adipisci earum, quam
    reprehenderit optio maiores! Reiciendis</p>

</div>
<script type='module' src='/js/welcome.js'></script>